.container {
  width: 70%;
  margin: auto;
  text-align: center;
  height: 50%;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h3 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn{
  margin-top: 40px;
  padding: 8px;
  border: 3px solid black;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.885);
  background-color: aliceblue;
  font-weight: bold;
  color: black;
  transition-duration: 0.4s;
  cursor: pointer;
}